---
# Only the front matter is required
---

@import "minimal-mistakes";

/* ===== Custom Typography ===== */

body {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.7;
  color: #222;
}

.page__title {
   font-family: "Helvetica Neue", sans-serif;
   font-size: 24px;
}

h2 {
   font-size: 1.8rem;
}

h3 {
   font-size: 1.4rem;
}

.feature__item h3 {
   font-size: 1.5rem;
}
