---
# Only the front matter is required
---

@import "minimal-mistakes";

/* ===== Custom Typography ===== */

body {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.7;
  color: #222;
}
a {   /*all links in normal space*/
  color: #1f3a60;
  text-decoration: none;
}

a:hover {
  color: #5f7c99;  /* blue-grey hover */
}

/* ======= Site Title (Top Left)  ============= */
.site-title {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #1f3a60; /* deep academic blue */
}

.page__title {
   font-family: "Helvetica Neue", sans-serif;
   font-size: 1.2rem;
   font-weight: 600;
   color: #1f3a60; /* deep academic blue */
}



/* ===== Major section === */
h2 {
   color: #1f3a60;
   border-bottom: 2px solid #e5e8ec;
   padding-bottom: 0.3rem;
   margin-top: 2.5rem;
   font-size: 1.8rem;
}
/* ===== Sub section === */
h3 {
   font-size: 1.4rem;
}

.feature__item h3 {
   font-size: 1.2rem;
}
/* ===== Horizontal Rule  === */
hr {
  border: none;
  border-top: 1px solid #e5e8ec;
  margin: 2rem 0;
}
/* ===== Header === */
.masthead__menu-item {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
.masthead {
  background-color: #ffffff;  /* keep white */
  border-bottom: 1px solid #1f3a60;   /*The horizontal line separating the navigation bar from the page content.*/
}

.masthead a {
  color: #1f3a60;  /* deep academic blue */
  text-decoration: none; 
  border-bottom: 2px solid #5f7c99;
}

.masthead a:hover {
  color: #5f7c99;
  border-bottom: 2px solid #5f7c99;
}

/* ===== page layout === */
.page__content {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}
/* ===== columns === */

.feature__wrapper {
  display: flex;
  gap: 2rem;
}

.feature__item {
  flex: 1 1 30%;
}
