---
# Only the front matter is required
---

@import "minimal-mistakes";

/* ===== Custom Typography ===== */

body {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.7;
  color: #222;
}
a {   /*all links in normal space*/
  color: #1f3a60;
  text-decoration: none;
}

/* Force full-width archive on the home layout */
.layout--home .archive {
  width: 100% !important;
  padding-right: 0 !important;
}

/* If a sidebar still exists in DOM, hide it */
.layout--home .sidebar {
  display: none !important;
}
/*  Sets the regular page size by overwriting layout:single */
@media (min-width: 64em) {
  .layout--single .page {
    width: calc(100% - 200px) !important;
    padding-right: 200px !important;
  }

  .layout--single .sidebar {
    width: 200px !important;
  }
}

/* ======= Site Title (Top Left)  ============= */
.site-title {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #1f3a60 !important;  /* deep academic blue */
}

.site-title:hover {
  color: #5f7c99 !important;
  text-decoration: none !important;
  border-bottom: none !important;
}

.page__title {
   font-family: "Helvetica Neue", sans-serif;
   font-size: 1.2rem;
   font-weight: 600;
   color: #222; /* cool grey  #4a5568; */ 
}



/* ===== Major section === */
h2 {
   color: #1f3a60;
   border-bottom: 2px solid #e5e8ec;
   padding-bottom: 0.3rem;
   margin-top: 2.5rem;
   font-size: 1.8rem;
}
/* ===== Sub section === */
h3 {
   color: #1f3a60;   /* deep blue */
   font-size: 1.2rem;
}

.feature__item h3 {
   font-size: 1.2rem;
}
/* ===== Horizontal Rule  === */
hr {
  border: none;
  border-top: 1px solid #e5e8ec;
  margin: 2rem 0;
}
/* ===== Header === */

.masthead {
  background-color: #ffffff;  /* keep white */
  border-bottom: 1px solid #1f3a60;   /*The horizontal line separating the navigation bar from the page content.*/
}
.masthead__menu-item {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.masthead__menu-item a {
  color: #1f3a60; 
  text-decoration: none;
  transition: color 0.25s ease;
}
.masthead__menu-item a:hover {
  color: #5f7c99;
 }
.masthead__menu-item a::after {
  border-bottom: 2px solid #5f7c99 !important;
}
.masthead__menu-item a:hover::after {
  border-bottom: 2px solid #5f7c99 !important;
}
.masthead__menu-item--active a::after {
  border-bottom: 2px solid #5f7c99 !important;
}



/* ===== page layout === */
.page__content {
  max-width: 1600px;
  margin-left: 5rem;
  margin-right: 2rem;
}
/* ===== columns === */

.feature__wrapper {
  display: flex;
  gap: 3rem;   /*spacing*/
}

.feature__item {
  flex: 1 1 30%;
}
.home .feature__item {
   max-width: 1000px;
   margin-left: 5rem;
   margin-right: 2rem;
}
.home .feature__wrapper {
  max-width: 1000px;
  margin-left: 5rem;
  margin-right: 2rem;
}

/* =======  INTRO =======  */
auto
.intro-grid {
  display: grid;
  grid-template-columns: 25% 75%;  /* image | text */
  align-items: center;
  gap: 3rem;
  margin-bottom: 4rem;
  margin-left: 8rem;
  margin-right: 2rem;
}

.intro-image img {
  width: 100%;
  max-width: 600px;   /* absolute max size */
}

.intro-text {
  max-width: 800px;   /* control text width */
}
.intro-text-bottom {
  max-width: 1000px;   /* control text width */
  margin-left: 8rem;
  margin-right: 2rem;
}

